@import "./variables";

// === Custom Color Utilities ===
// Background colors
.primaryColor-bg {
  background-color: $primaryColor;
}

.secondaryColor-bg {
  backgdround-color: $secondaryColor !important;
}

.tertiaryColor-bg {
  background-color: $tertiaryColor !important;
}

.pageBackgroundColor-bg {
  background-color: $pageBackgroundColor !important;
}

.buttonColor-bg {
  background-color: $buttonColor !important;
}

.textDarkColor-bg {
  background-color: $textDarkColor !important;
}

.textWhiteColor-bg {
  background-color: $textWhiteColor !important;
}

// Text colors
.primaryColor-text {
  color: $primaryColor !important;
}

.secondaryColor-text {
  color: $secondaryColor !important;
}

.tertiaryColor-text {
  color: $tertiaryColor !important;
}

.pageBackgroundColor-text {
  color: $pageBackgroundColor !important;
}

.buttonColor-text {
  color: $buttonColor !important;
}

.textDarkColor-text {
  color: $textDarkColor !important;
}

.textWhiteColor-text {
  color: $textWhiteColor !important;
}
