@import "./variables";
@import "./custom";

.sidebarNav {
  max-width: 11.5rem;
  min-width: 11.5rem;
  background-color: $secondaryColor;
  position: relative;
  transition: all 0.3s ease-out;
}

.sidebarNav.collapsed {
  margin-left: -11.6rem;
  transition: all 0.3s ease-out;
}

.authWrapper p {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2.375rem 0 1rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.authWrapper button {
  border-radius: 0.5rem;
}

.linkList {
  margin: 2rem 0 0 0;
  width: 100%;
}

.sidebar-link {
  display: block;
  width: 100%;

  border-radius: 0.5rem;
  color: $textDarkColor;
  text-decoration: none;
  font-weight: 600;
  padding: 0.5rem 2rem;
}

.sidebar-link:hover {
  background-color: $primaryColor;
  color: $textWhiteColor;
}

.sidebar-toggle button {
  border: 0;
  background-color: transparent;
  color: var($primaryColor);
}

.sidebar-icon {
  position: absolute;
  color: $textDarkColor;
  top: 0.5rem;
  left: 11.875rem;
}
