// Colors
$primaryColor: #7c7d75;
$secondaryColor: #adaca7;
$tertiaryColor: #d9dadf;
$pageBackgroundColor: #fcf8d8;
$buttonColor: #dd700b;
$textDarkColor: #1f2421;
$textWhiteColor: #d9e1e1;

// Fonts
$headingsFont: 'Manrope', Helvetica, Arial, sans-serif;
$paragraphFont: 'Calibri', Arial, Helvetica, sans-serif;

// Font sizes (Desktop)
$mainHeadingSizeDesktop: 3rem; // 48px
$secondaryHeadingSizeDesktop: 2rem; // 32px
$paragraphSizeDesktop: 1.125rem; // 18px

// Font sizes (Mobile)
$mainHeadingSizeMobile: 2.25rem; // 36px
$secondaryHeadingSizeMobile: 1.75rem; // 28px
$paragraphSizeMobile: 1rem; // 16px
